<!DOCTYPE html>
<html lang="en">
  <% if(suggestions) { %>
  <script>
    function shuffle(data) {
      for (let a = 0; a < data.length; a++) {
        let x = data[a];
        let y = Math.floor(Math.random() * (a + 1));
        data[a] = data[y];
        data[y] = x;
      }
      return data;
    }

    let arr = "<%=JSON.stringify(suggestions)%>";
    let arrToObject = JSON.parse(arr.replace(/&#34;/g, '"'));

    function toggleAddToShow(idx) {
      let suggestionCard = document.querySelector(".cardNr" + idx);
      let suggestionButton = suggestionCard.querySelector(".btn");
      suggestionCard.classList.toggle("removeToggle");
      suggestionCard.classList.contains("removeToggle")
        ? (suggestionButton.innerText = "Add back")
        : (suggestionButton.innerText = "Don't include");
      arrToObject[idx].remove = !arrToObject[idx].remove;
    }

    async function createNewShow() {
      // shuffles and filter out removed objects
      let filteredArr = arrToObject.filter((obj) => {
        return obj.remove === 0 || obj.remove === false;
      });
      let shuffledArr = shuffle(filteredArr);

      // TODO change url to be dynamic
      const url = "http://localhost:3000/shows/add";
      const fetchOptions = {
        method: "POST",
        cache: "no-cache",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: JSON.stringify(shuffledArr),
      };
      // TODO Real URL endpoint
      const response = await fetch(url, fetchOptions);

      if (!response.ok) {
        const errorMessage = await response.text();
        throw new Error(errorMessage);
      }
      return response;
    }
  </script>
  <% } %>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <title>Suggestions</title>
    <meta
      name="description"
      content="Express 4.x app using Passport for authentication with username and password."
    />
    <link rel="stylesheet" href="/stylesheets/pico.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      main {
        x-border: 1px solid yellow;
      }

      :root:not([data-theme="dark"]),
      [data-theme="light"] {
        --nav-background: rgba(255, 255, 255, 0.7);
        --nav-border: rgba(115, 130, 140, 0.2);
      }

      [data-theme="dark"] {
        --nav-background: rgba(16, 24, 30, 0.8);
        --nav-border: rgba(115, 130, 140, 0.2);
      }

      @media (min-width: 576px) {
        body > main {
          padding-top: calc(1rem * var(--spacing-factor-sm) + 3.5rem);
        }
      }

      @media (min-width: 768px) {
        body > main {
          padding-top: calc(1rem * var(--spacing-factor-md) + 3.5rem);
        }
      }

      @media (min-width: 992px) {
        body > main {
          padding-top: calc(1rem * var(--spacing-factor-lg) + 3.5rem);
        }
      }

      body > main {
        padding-top: calc(1rem * var(--spacing-factor-xs) + 3.5rem);
      }

      .removeToggle {
        opacity: 0.3;
      }
    </style>
  </head>

  <body>
    <%- include('header'); -%>

    <main class="container">
      <% if(suggestions.length > 0) { %>
      <button class="btn btn-primary" onclick="createNewShow()">
        Create new show
      </button>
      <% suggestions.forEach((suggestion, index) => { %>
      <article class="<%-`cardNr${index}`%>">
        <p><%- suggestion.suggestion %></p>
        <% if (suggestion) { %>
        <h4><%- suggestion.name %></h4>
        <button class="btn btn-primary" onclick="toggleAddToShow(<%-index%>)">
          Don't include
        </button>
        <% } %>
      </article>

      <% })}; %>
    </main>
  </body>
</html>
